  /*root-section-css*/
  :root {
    --main-title-text-color: #ffffff;
    --text-all: #757575;
    --title-text--color: #212121;
    --buttons-active-color: #2196f3;
    --button-bakground: #f5f4fa;
    --footer-main-sections-bacground: #2f303a;
    --border-color: #EEEEEE;
    --icons-color: #AFB1B8;
    --background-footer-icons: rgba(255,255,255,0.1);
    --cubic-bezier: rgba(0.4,0,0.2,1);
  }





  /*webstudio*/
  /* wecstudio-section-main*/
  .main-section-head {
    background: var(--footer-main-sections-bacground);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }

  .overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  


.description {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bakground);
  border-radius: 4px;
  margin-bottom: 30px;
}

  .navlist {
    display: flex;
    margin-left: 93px;
  }

  .navlist .item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contacts-list {
    display: inline-block;
    display: flex;
    margin-left: auto;
  }

  .contacts-list .item-address + .item-address {
    margin-left: 50px;
  }

  .head {
    display: flex;
    align-items: center;
  }

.item-address a {
  fill: var(--icons-color);
  display: flex;
  text-align: center;
  align-items: center;
}

.icon-head {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  fill: currentColor;
}

.last-section {
 padding-top: 60px;
 padding-bottom: 60px;
 display: flex;
 align-items: baseline;
}

.last-address-section {
  margin-top: 20px;
}
.last-address-section-list:not(:first-child) {
  margin-top: 9px;
}

.item:not(:last-child){
    margin-right: 50px;
  }
  

.buttonslist {
  display: flex;
  justify-content: center;
}

.buttons-list:not(:first-child) {
  margin-left: 8px;
}
.buttonslist {
  margin-bottom: 50px;
  
}




.our-team {
  display: flex;
  justify-content: space-between;
}



.our-team-list h3 {
  margin-bottom: 10px;
  text-align: center;
}

.our-team-list p {
  margin-bottom: 16px;
  text-align: center;
}

.our-team-list {
  border: 1px solid var(--border-color);
  background: var(--main-title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team-list img {
  margin-bottom: 30px;
}

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-list li:not(:first-child) {
  margin-left: 10px;
}

.icons-list-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icons-color);
}

.icon-social {
  width: 20px;
  height: 20px;
}



.icons-list-social-link:hover,
.icons-list-social-link:active {
  fill: var(--main-title-text-color);
  background: var(--buttons-active-color);
  border-radius: 50%;
}


.icons-list-social-link {
  fill: var(--icons-color);
}



  .main-section-title-text {
    color: var(--main-title-text-color);
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  /* studio button pg*/
  .studio-button {
    display: block;
    margin: auto;
    background: var(--buttons-active-color);
    color: var(--main-title-text-color);
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
  }

  .studio-button:hover {
    background: #188CE8;
  }

.second-section-content {
  display: flex;
  justify-content: center;
}

.second-section-content-list:not(:first-child) {
  margin-left: 30px;
}

.second-section-content-list h3 {
  margin-bottom: 10px;
}

.third-section-content {
  display: flex; 
  justify-content: center;

}
.third-section-content .third-section-content-list:not(:first-child) {
  margin-left: 30px;
}


  /* first what we do without imgs*/
  .first-text-section-studio-title {
    color: var(--title-text--color);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .first-text-section-studio-text {
    color: var(--text-all);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  /* what we doo section*/
  .first-section-title {
    color: var(--title-text--color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  .what-we-do {
    padding-top: 0;
  }

  .products{
    position: relative;
    display: flex;
  }

  .products-active {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    color: var(--main-title-text-color);
    bottom: 0;
  }
  
  /* our team section*/
  .title-second-section {
    color: var(--title-text--color);
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .second-section-title {
    color: var(--title-text--color);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .second-section-text {
    color: var(--text-all);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }


  /* clients companys*/
.clients-title{
  color: var(--tittle-text--color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 8px;
}
.clients-list{
  display: flex;
}
.clients-list-item:not(:last-child){
  margin-right: 30px;
}
.clients-list-item svg{
  margin: 16px 32px;
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  background-color: var(--main-tittle-text-color);
}
.client-list-link{
  border: 1px solid var(--icons-color);
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 3px;
}
.client-list-link:active,
.client-list-link:hover{
  border-color: var(--buttons-active-color); 
}
.client-list-link:active .icon-client,
.client-list-link:hover .icon-client{
  fill: var(--buttons-active-color);
}


  /* portfolio*/
  /* portfolio text section*/
  .portfolio-images-title {
    color: var(--title-text--color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .portfolio-images-text {
    color: var(--text-all);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;   
  }

  .portfolio-borders {
    padding: 20px 24px;
  }
  
  .portfolioth {
    overflow: hidden;
    position: relative;
  }

  .overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33,150,243,0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
    overflow: auto;
  }
  
  .text-overlay-portfolio {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      padding-left: 24px;
      padding-right: 24px;
      color: var(--main-title-text-color);
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1.56;
  }
  
  .portfolio-link:hover, 
  .portfolio-link:focus {
    display: block;
    background: var(--main-title-text-color);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
  }
  
  .projects-list:hover .overlay-portfolio {
    opacity: 1;
    transform: translate(0);
  }





  /*buttons on portfolio pg*/
  .buttons {
    background: var(--button-bakground);
    color: var(--title-text--color);
    border: 1px solid transparent;
    padding: 6px 22px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
  }
  .buttons:hover {
    background: var(--buttons-active-color);
    color: var(--main-title-text-color);
  }
  .buttons:focus {
    background: var(--buttons-active-color);
    color: var(--main-title-text-color);
  }
  .buttons:active {
    background: var(--buttons-active-color);
    color: var(--main-title-text-color);
  }
  .buttons {
    cursor: pointer;
    display: inline-block;
    
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .projects-list{
    width: calc( ( 100% - 90px ) / 3 );
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
  }
  
  
  .projects-list:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

  .projects-list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .our-team-section {
    background: var(--button-bakground);
  }





  /* footer section*/
  .footer-section {
    background: var(--footer-main-sections-bacground);
  }
  .adress-in-foot {
    font-style: normal;
    width: 232px;
  }
  .adress-in-foot {
    color: var(--main-title-text-color);
  }
  /* links */
  .link {
    color: var(--title-text--color);
    font-weight: 500;
    
  }
  .link:hover {
      color: var(--buttons-active-color);
    }
  .link:active{
      color: var(--buttons-active-color);
    }
  .link:focus {
    color: var(--buttons-active-color);
  }
  .link-adress {
    color: var(--text-all);
  }
  .link-adress:hover{
      color: var(--buttons-active-color);
    } 
  .link-adress:active{
      color: var(--buttons-active-color);
    } 
  .link-adress:focus {
    color: var(--buttons-active-color);
  }
  .link.active{
      color: var(--buttons-active-color);
  }
  .active {
position: relative;
  }

  .active::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--buttons-active-color);
    border-radius: 2px;
    bottom: -32px;
  }

  /* logo */
  .logo {
    font-family: "Raleway";
    color: var(--title-text--color);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
  }
  .link-logo {
    color: var(--buttons-active-color);
    
  }
  .foot {
    color: var(--main-title-text-color);
  }
 
  .footer-social {
    margin-left: 70px;
  }

  .footer-social p{
    font-weight: bold;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: uppercase;
    color: var(--main-title-text-color);
    margin-bottom: 20px;
  }
  .icons-footer{
    width: 206px;
    display: flex;
    align-items: center;
  }
  .icons-list-footer:not(:last-child) {
    margin-right: 10px;
  }
  .icons-footer-link{
      display: flex;
      background-color: var(--background-footer-icons);
      width: 44px;
      height: 44px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
  }
  .icon-footer{
      width: 20px;
      height: 20px;
      fill: var(--main-title-text-color);
  }
  .icons-footer-link:hover, 
  .icons-footer-link:focus {
    fill: var(--main-title-text-color);
    background: var(--buttons-active-color);
    border-radius: 50%;
  }

  .footer-connection{
    margin-left: 93px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-text-color);
  }
  .footer-connection-flex{
    display: flex;
    width: 570px;
    height: 86px;
  }
  .footer-button{
    background: var(--buttons-active-color);
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding-right: 62px;
    padding-left: 29px;
    border: 0px solid transparent;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    color: var(--main-tittle-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-button:hover{
    background: #188CE8;
  }
  .footer-button::after{
    background-image: url(/images/icons/telegram.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    content: '';
    top: 13px;
    right: 28px;
    fill: var(--main-tittle-text-color);
  }
  .footer-connection-mail::placeholder{
    padding-left: 16px;
  }
  .footer-connection-mail{
    width: 358px;
    height: 50px;
    background-color: var(--footer-main-sections-bacground);
    margin-top: 20px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
 
  /*modal*/
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
  }

  .modal {
    position: absolute;
    transform: translate(-50%,-50%);
    Width:528px;
    Height:581px;
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

  .close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--main-title-text-color);
  }

    .close-btn:hover {
      fill: rgba(33, 150, 243, 1);
    }

  /*FORM*/

  .modal-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form {
    width: 100%;
  }

  .form-data {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: var(--title-text--color);
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .for-icon-form {
    position: relative;
  }

  .form-field-icons:not(:last-child) {
    padding-left: 42px;
  }

  .form-field-icons {
   transition: border 250ms cubic-bezier(0.4,0,0.2,1);
   padding: 12px 16px;
  }

  .form-field-icons:focus,
  .form-field-icons:active {
    outline-color: var(--buttons-active-color);
  }
  .icon-form {
    position: absolute;
    bottom: 7px;
    left: 15px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
  }

  .form-field-icons:focus + .icon-form,
  .form-field-icons:active + .icon-form  {
    fill: rgba(33, 150, 243, 1);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
  }

  .form-comment {
    margin-bottom: 20px;
  }

  .form-field input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    
  }
  .form-field textarea {
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
  }

  .form-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;
    color: var(--text-all);
  }

  .form-field textarea::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }


  .conditions-contract {
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    cursor: pointer;
  }

  .visibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .modal-check__box {
    appearance: none;
    position: absolute;
  }
  
  .modal-check {
    font-size: 15px;
    color: var(--title-text--color);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .modal-check__svg {
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
  }

  .modal-check__box:focus ~ .modal-check__svg {
    border-color: var(--buttons-active-color);
  }

  .modal-check__box:checked ~ .modal-check__svg {
    background-color: var(--buttons-active-color);
    border-color: var(--buttons-active-color);
    align-items: center;
    justify-content: center;
    background-image: url("../images/icons/like.svg");
    background-size: contain;
    background-origin: border-box;
  }
/* .checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  color: var(--text-all);
}

.checkbox-text{
  display: inline-block;
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}



.checkbox:checked ~ .checkbox-item{
  border-color: transparent;
  justify-content: center;
  align-items: center;
  background-color: var(--buttons-active-color);
  background-image: url(/images/icons/like.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-item{
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--main-title-text-color);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 1);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
} */
 
  .form-button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

